Repository ROUTINE-STUDY/Algorithm, pull requests merged in 2021-12, with the labels that each got.

#210 [프로그래머스] 평균 구하기
  Programmers/연습문제/평균 구하기/kaki5507.java
Labels: Java, Programmers

#211 [프로그래머스] 직사각형 별찍기
  Programmers/연습문제/직사각형 별찍기/kaki5507StringBuilder.java
  Programmers/연습문제/직사각형 별찍기/kaki5507double.java
Labels: Java, Programmers

#204 [백준] 2805 나무 자르기
  Baekjoon/이분탐색(Binary Search)/HwangInGyu.java
Labels: Java, Baekjoon

#205 [LeetCode] 1337. The K Weakest Rows in a Matrix
  LeetCode/Binary Search/1337. The K Weakest Rows in a Matrix/HwangInGyu.java
Labels: Java, LeetCode

#207 [프로그래머스] 모의고사
  Programmers/완전탐색/모의고사/Ingyu.java
Labels: Java, Programmers

#208 [프로그래머스] 방문 길이
  Programmers/Summer Winter Coding(~2018)/방문 길이/HwangInGyu.java
Labels: Java, Programmers

#209 [프로그래머스] - 로또의 최고 순위와 최저 순위
  Programmers/2021 Dev-Matching: 웹 백엔드 개발자(상반기)/로또의 최고 순위와 최저 순위/HwangIngyu.java
Labels: Java, Programmers

#212 [프로그래머스] 제일 작은 수 제거하기
  Programmers/연습문제/제일 작은 수 제거하기/kaki5507If.java
  Programmers/연습문제/제일 작은 수 제거하기/kaki5507Math.java
Labels: Java, Programmers

#213 [프로그래머스] 자연수 뒤집어 배열로 만들기
  Programmers/연습문제/자연수 뒤집어 배열로 만들기/kaki5507Numeric.java
  Programmers/연습문제/자연수 뒤집어 배열로 만들기/kaki5507StringBuilder.java
  Programmers/연습문제/자연수 뒤집어 배열로 만들기/kaki5507while.java
Labels: Java, Programmers

#214 [프로그래머스] x만큼 간격이 있는 n개의 숫자 검색
  Programmers/연습문제/x만큼 간격이 있는 n개의 숫자/kaki5507.java
Labels: Java, Programmers

#215 [프로그래머스] 핸드폰 번호 가리기
  Programmers/연습문제/핸드폰 번호 가리기/kaki5507.java
  Programmers/연습문제/핸드폰 번호 가리기/kaki5507substring.java
  Programmers/연습문제/핸드폰 번호 가리기/kaki5507toChar.java
Labels: Java, Programmers

#216 [프로그래머스] 하샤드 수
  Programmers/연습문제/하샤드 수/kaki5507.java
  Programmers/연습문제/하샤드 수/kaki5507split.java
Labels: Java, Programmers

#217 [프로그래머스] 정수 내림차순으로 배치하기
  Programmers/연습문제/정수 내림차순으로 배치하기/kaki5507.java
Labels: Java, Programmers

#218 [프로그래머스] 짝수와 홀수
  Programmers/연습문제/짝수와 홀수/kaki5507.java
Labels: Java, Programmers

#219 [프로그래머스] 콜라츠 추측
  Programmers/연습문제/콜라츠 추측/kaki5507.java
Labels: Java, Programmers

#220 [프로그래머스] 정수 제곱근 판별
  Programmers/연습문제/정수 제곱근 판별/kaki5507.java
Labels: Java, Programmers

#221 [프로그래머스] 최대공약수와 최소공배수
  Programmers/연습문제/최대공약수와 최소공배수/kaki5507.java
Labels: Java, Programmers
