Repository ROUTINE-STUDY/Algorithm, pull requests merged in 2021-10, with the labels that each got.

#176 [LeetCode] 404. Sum of Left Leaves
  LeetCode/BFS/404. Sum of Left Leaves/kaki5507.java
Labels: Java, LeetCode

#190 [LeetCode] 1122. Relative Sort Array
  LeetCode/Array/1122. Relative Sort Array/Sanghoo.java
Labels: Java, LeetCode

#191 [프로그래머스] 8주차 최소직사각형
  Programmers/위클리 챌린지/8주차/Sanghoo.java
Labels: Java, Programmers

#192 [LeetCode] 181. Employees Earning More Than Their Managers
  LeetCode/Database/181. Employees Earning More Than Their Managers/Sanghoo.sql
Labels: Database

#177 [프로그래머스] 부족한 금액 계산하기
  Programmers/위클리 챌린지/1주차/부족한 금액 계산하기/kaki5507.java
Labels: Java, Programmers

#188 [LeetCode] 175. Combine Two Tables
  LeetCode/Database/175. Combine Two Tables/kaki5507.sql
Labels: LeetCode, Database
