Repository ROUTINE-STUDY/Algorithm, pull requests merged in 2021-08, with the labels that each got.

#100 [Programmers] 신규 아이디
  Programmers/2021 KAKAO BLIND RECRUITMENT/신규 아이디 추천/kaki5507.java
Labels: Java, Programmers

#102 [Programmers] 신규 아이디 추천
  Programmers/2021 KAKAO BLIND RECRUITMENT/신규 아이디 추천/Sanghoo.java
Labels: Java, LeetCode

#105 [LeetCode] 69. Sqrt(x)
  LeetCode/Math/69. Sqrt(x)/kaki5507.java
Labels: Java, LeetCode

#106 [LeetCode] 169.Majority Element
  LeetCode/Array/169. Majority Element/kaki5507.java
Labels: Java, LeetCode

#107 [LeetCode] 1710. Maximum Units on a Truck
  LeetCode/Greedy/1710. Maximum Units on a Truck/kaki5507.java
Labels: Java, LeetCode

#108 [LeetCode] 1614. Maximum Nesting Depth of the Parentheses
  LeetCode/Stack/1614. Maximum Nesting Depth of the Parentheses/kaki5507.java
Labels: Java, LeetCode

#109 [LeetCode] 1. Two Sum
  LeetCode/Array/1. Two Sum/kaki5507.java
  LeetCode/Array/1. Two Sum/kaki5507HashMap.java
Labels: Java, LeetCode

#110 [LeetCode] 1614. Maximum Nesting Depth of the Parentheses
  LeetCode/Stack/1614. Maximum Nesting Depth of the Parentheses/Sanghoo.java
Labels: Java, LeetCode

#111 [LeetCode] 9. Palindrome Number
  LeetCode/Math/9. Palindrome Number/kaki5507.java
Labels: Java, LeetCode

#114 [LeetCode] 860. Lemonade Change
  LeetCode/Greedy/860. Lemonade Change/kaki5507.java
Labels: Java, LeetCode

#117 [LeetCode] 1518. Water Bottles
  LeetCode/Greedy/1518. Water Bottle/kaki5507.java
Labels: Java, LeetCode

#116 [LeetCode] 1046. Last Stone Weight
  LeetCode/Greedy/1046. Last Stone Weight/kaki5507.java
Labels: Java, LeetCode

#112 [LeetCode] 9. Palindrome Number
  LeetCode/Math/9. Palindrome Number/Sanghoo.java
Labels: Java, LeetCode

#118 [LeetCode] 589. N-ary Tree Preorder Traversal
  LeetCode/DFS/589. N-ary Tree Preorder Traversal/Sanghoo.java
Labels: Java, LeetCode

#119 [LeetCode] 589. N-ary Tree Preorder Traversal
  LeetCode/DFS/589. N-ary Tree Preorder Traversal/IngyuDFS.java
Labels: Java, LeetCode

#113 [LeetCode] 9. Palindrome Number
  LeetCode/Math/9. Palindrome Number/JaeHong.js
Labels: JavaScript, LeetCode

#120 [LeetCode] 94. Binary Tree Inorder Traversal
  LeetCode/DFS/94. Binary Tree Inorder Traversal/Sanghoo.java
Labels: Java, LeetCode

#121 [LeetCode] 94. Binary Tree Inorder Traversal
  LeetCode/DFS/94. Binary Tree Inorder Traversal/IngyuDFS.java
Labels: Java, LeetCode

#115 [LeetCode] 1725. Number Of Rectangles That Can Form The Largest Square
  LeetCode/Greedy/1725. Number Of Rectangles That Can Form The Largest Square/kaki5507.java
Labels: Java, LeetCode

#124 [LeetCode] 100. Same Tree
  LeetCode/DFS/100. Same Tree/Sanghoo.java
Labels: Java, LeetCode

#125 [LeetCode] 100. Same Tree
  LeetCode/DFS/100. Same Tree/IngyuBFS.java
  LeetCode/DFS/100. Same Tree/IngyuDFS.java
Labels: Java, LeetCode

#128 [LeetCode] 942. DI String Match
  LeetCode/Greedy/942. DI String Match/Sanghoo.java
Labels: Java, LeetCode

#129 [LeetCode] 942. DI String Match
  LeetCode/Greedy/942. DI String Match/Ingyu.java
Labels: Java, LeetCode

#127 [Programmers] 타겟 넘버
  Programmers/깊이 너비 우선 탐색(DFS,BFS)/타겟 넘버/IngyuRecursion.java
Labels: Java, Programmers

#130 [LeetCode] 94. Binary Tree Inorder Traversal
  LeetCode/DFS/94. Binary Tree Inorder Traversal/kaki5507.java
Labels: Java, LeetCode

#133 [LeetCode] 100. Same Tree
  LeetCode/DFS/100. Same Tree/kaki5507.java
Labels: Java, LeetCode

#134 [LeetCode] 942.DI String Match
  LeetCode/Greedy/942. DI String Match/kaki5507.java
Labels: Java, LeetCode

#137 [LeetCode] 1071. Greatest Common Divisor of Strings
  LeetCode/String/1071. Greatest Common Divisor of Strings/Sanghoo.java
Labels: Java, LeetCode

#140 [Programmers] 큰 수 만들기
  Programmers/탐욕법(Greedy)/큰 수 만들기/Ingyu.java
Labels: Java, Programmers

#142 [Programmers] 모의고사
  Programmers/완전탐색/모의고사/Ingyu.java
Labels: Java, Programmers
