Repository ROUTINE-STUDY/Algorithm, pull requests merged in 2022-02, with the labels that each got.

#240 [백준] 대표 자연수
  Baekjoon/완전탐색(Brute Force)/2548 대표 자연수/HwangInGyu.java
Labels: Java, Baekjoon

#241 [백준] 부분수열의 합
  Baekjoon/완전탐색(Brute Force)/14225 부분수열의 합/HwangInGyu.java
Labels: Java, Baekjoon

#242 [백준] 연산자 끼워 넣기
  Baekjoon/완전탐색(Brute Force)/14888 연산자 끼워넣기/HwangInGyu.java
  Baekjoon/완전탐색(Brute Force)/14888 연산자 끼워넣기/HwangInGyu.kt
Labels: Java, Kotlin, Baekjoon

#244 [백준] 보물섬
  Baekjoon/완전탐색(Brute Force)/2589 보물섬/HwangInGyu.java
Labels: Java, Baekjoon

#247 [백준] 테트로미노
  Baekjoon/완전탐색(Brute Force)/14500 테트로미노/HwangInGyu.java
Labels: Java, Baekjoon

#251 [백준] 기상캐스터
  Baekjoon/구현/10709 기상캐스터/HwangInGyu.java
Labels: Java, Baekjoon

#252 [백준] 개미
  Baekjoon/구현/3048 개미/HwangInGyu.java
Labels: Java, Baekjoon

#254 [백준] 2851. 슈퍼마리오
  Baekjoon/완전탐색(Brute Force)/2851 슈퍼마리오/Sanghoo.java
  Baekjoon/완전탐색(Brute Force)/2851 슈퍼마리오/Sanghoo_FeedBack.java
Labels: Java, Baekjoon

#260 [백준] DFS와 BFS
  Baekjoon/Graph Theory/1260 DFS와 BFS/HwangInGyu.kt
Labels: Kotlin, Baekjoon

#265 [백준] 01타일
  Baekjoon/DP(Dynamic Programming)/1904 01타일/Inqbator.kt
Labels: Kotlin, Baekjoon

#255 [백준] 모든 순열
  Baekjoon/완전탐색(Brute Force)/10974 모든 순열/HwangInGyu.java
Labels: Java, Baekjoon

#257 [백준] 슈퍼마리오 코드 수정
  Baekjoon/완전탐색(Brute Force)/2851 슈퍼 마리오/HwangInGyu.java
Labels: Java, Baekjoon

#258 [백준] 상근이의 여행
  Baekjoon/완전탐색(Brute Force)/9372 상근이의 여행/HwangInGyu.java
Labels: Java, Baekjoon

#259 [백준] 유기농 배추
  Baekjoon/Graph Theory/1012 유기농 배추/HwangInGyu.kt
Labels: Kotlin, Baekjoon

#261 [백준] 14501 퇴사
  Baekjoon/완전탐색(Brute Force)/14501 퇴사/Inqbator.kt
Labels: Kotlin, Baekjoon

#262 [백준] 이친수
  Baekjoon/DP(Dynamic Programming)/2193 이친수/Inqbator.kt
Labels: Kotlin, Baekjoon

#263 [백준] 감시 피하기
  Baekjoon/완전탐색(Brute Force)/18428 감시 피하기/Inqbator.kt
Labels: Kotlin, Baekjoon

#268 [백준] 23351. 물 주기
  Baekjoon/구현/23351 물 주기/Sanghoo.java
Labels: Java, Baekjoon

#271 [백준] 공유기 설치
  Baekjoon/이분탐색(Binary Search)/2110 공유기 설치/Inqbator.kt
Labels: Kotlin, Baekjoon

#264 [백준] 미로 탐색
  Baekjoon/Graph Theory/2178 미로 탐색/Inqbator.kt
Labels: Kotlin, Baekjoon

#269 [백준] 카드 구매하기 2
  Baekjoon/DP(Dynamic Programming)/16194 카드 구매하기 2/Inqbator.kt
Labels: Baekjoon

#273 [백준] 맞았는데 왜 틀리죠?
  Baekjoon/구현/15820 맞았는데 왜 틀리죠?/Inqbator.java
  Baekjoon/구현/15820 맞았는데 왜 틀리죠?/Inqbator.kt
Labels: Java, Kotlin, Baekjoon

#274 [백준] 배수들의 합
  Baekjoon/완전탐색(Brute Force)/17173 배수들의 합/Inqbator.java
  Baekjoon/완전탐색(Brute Force)/17173 배수들의 합/Inqbator.kt
Labels: Java, Kotlin, Baekjoon

#275 [백준] 십자카드 문제
  Baekjoon/완전탐색(Brute Force)/2659 십자카드 문제/Inqbator.kt
Labels: Kotlin, Baekjoon

#276 [백준] 안전 영역
  Baekjoon/완전탐색(Brute Force)/2468 안전 영역/Inqbator.kt
Labels: Kotlin, Baekjoon

#277 [백준] 치킨 배달
  Baekjoon/완전탐색(Brute Force)/15686 치킨 배달/Inqbator.kt
Labels: Kotlin, Baekjoon

#278 [백준] 돌게임
  Baekjoon/DP(Dynamic Programming)/9655 돌 게임/Inqbator.kt
Labels: Kotlin, Baekjoon

#279 [백준] 섬의 개수
  Baekjoon/BFS/4963 섬의 개수/Inqbator.kt
Labels: Kotlin, Baekjoon

#280 [백준] 거스름돈
  Baekjoon/DP(Dynamic Programming)/14916 거스름돈/Inqbator.kt
Labels: Kotlin, Baekjoon

#281 [백준] 추월
  Baekjoon/구현/2002 추월/Inqbator.kt
Labels: Kotlin, Baekjoon

#287 [백준] 11720. 숫자의 합
  Baekjoon/DP(Dynamic Programming)/11720 숫자의 합/Sanghoo.java
Labels: Java, Baekjoon
