Repository ROUTINE-STUDY/Algorithm, pull requests merged in 2022-04, with the labels that each got.

#308 [백준] 17952. 과제는 끝나지 않아!
  Baekjoon/구현/17952 과제는 끝나지 않아!/Sanghoo.java
Labels: Java, Baekjoon

#310 [백준] 과제는 끝나지 않아!
  Baekjoon/구현/17952 과제는 끝나지 않아!/Inqbator.java
  Baekjoon/구현/17952 과제는 끝나지 않아!/Inqbator.kt
Labels: Java, Kotlin, Baekjoon

#312 [백준] 2508. 사탕 박사 고창영
  Baekjoon/구현/2508 사탕 박사 고창영/Sanghoo.java
Labels: Java, Baekjoon

#309 [백준] 토마토
  Baekjoon/BFS/토마토/Inqbator.kt
Labels: Kotlin, Baekjoon

#316 [백준] 1244. 스위치 켜고 끄기
  Baekjoon/구현/1244 스위치 켜고 끄기/Sanghoo.java
Labels: Java, Baekjoon

#314 [백준] 스위치 켜고 끄기
  Baekjoon/구현/1244 스위치 켜고 끄기/Inqbator.kt
Labels: Kotlin, Baekjoon

#315 [백준] 토너먼트
  Baekjoon/완전탐색(Brute Force)/1057 토너먼트/Inqbator.kt
Labels: Kotlin, Baekjoon

#319 [백준] 죽음의 게임
  Baekjoon/Graph Theory/17204 죽음의 게임/Inqbator.kt
Labels: Kotlin, Baekjoon

#320 [백준] 태권왕
  Baekjoon/Graph Theory/14562 태권왕/Inqbator.kt
Labels: Kotlin, Baekjoon

#323 [백준] 3098 소셜 네트워크
  Baekjoon/Graph Theory/3098 소셜 네트워크/Inqbator.kt
Labels: Kotlin, Baekjoon

#322 [백준] 3182. 한동이는 공부가 하기 싫어!
  Baekjoon/Graph Theory/3182 한동이는 공부가 하기 싫어!/Sanghoo.java
Labels: Java, Baekjoon

#321 [백준] 한동이는 공부가 하기 싫어!
  Baekjoon/Graph Theory/3182 한동이는 공부가 하기 싫어!/Inqbator.kt
Labels: Kotlin, Baekjoon

#326 [백준] 숫자 정사각형
  Baekjoon/구현/1051 숫자 정사각형/Inqbator.kt
Labels: Kotlin, Baekjoon

#325 [백준] 근손실
  Baekjoon/완전탐색(Brute Force)/18397 근손실/Inqbator.kt
Labels: Kotlin, Baekjoon
