Repository ROUTINE-STUDY/Algorithm, pull requests merged in 2022-01, with the labels that each got.

#222 [프로그래머스] 수박수박수박수박수박수
  Programmers/연습문제/수박수박수박수박수박수/kaki5507.java
Labels: Java, Programmers

#223 [프로그래머스] 문자열 내림차순
  Programmers/연습문제/문자열 내림차순으로 배치하기/kaki5507.java
Labels: Java, Programmers

#224 [프로그래머스] 문자열을 정수로 바꾸기
  Programmers/연습문제/문자열을 정수로 바꾸기/kaki5507.java
Labels: Java, Programmers

#225 [프로그래머스] 문자열 내 마음대로 정렬하기
  Programmers/연습문제/문자열 내 마음대로 정렬하기/kaki5507.java
  Programmers/연습문제/문자열 내 마음대로 정렬하기/kaki5507Comparator.java
Labels: Java, Programmers

#226 [프로그래머스] 문자열 다루기 기본
  Programmers/연습문제/문자열 다루기 기본/kaki5507.java
Labels: Java, Programmers

#227 [프로그래머스] [1차] 비밀지도
  Programmers/2018 KAKAO BLIND RECRUITMENT/[1차] 비밀지도/kaki5507.java
Labels: Java, Programmers

#228 [프로그래머스] 서울에서 김서방 찾기
  Programmers/연습문제/서울에서 김서방 찾기/kaki5507.java
Labels: Java, Programmers

#229 [구름] 완전 제곱수
  Goorm/level1/완전 제곱수/kaki5507.java
Labels: Java, Goorm

#230 [백준] 1417 국회의원 선거
  Baekjoon/Greedy/1417 국회의원 선거/Sanghoo.java
Labels: Java, Baekjoon

#232 [백준] 2309 일곱난쟁이
  Baekjoon/완전탐색(Brute Force)/2309 일곱난쟁이/Sanghoo.java
Labels: Java, Baekjoon

#234 [백준] 1018 체스판 다시 칠하기
  Baekjoon/완전탐색(Bruth Force)/1018 체스판 다시 칠하기/Sanghoo.java
Labels: Java, Baekjoon

#236 [백준] 9094. 수학적호기심
  Baekjoon/완전탐색(Brute Force)/9094 수학적 호기심/Sanghoo.java
Labels: Java, Baekjoon

#250 [백준] ACM 호텔
  Baekjoon/구현/10250 ACM 호텔/HwangInGyu.java
Labels: Java, Baekjoon

#246 [백준] 1145. 적어도 대부분의 배수
  Baekjoon/완전탐색(Brute Force)/1145 적어도 대부분의 배수/Sanghoo.java
Labels: Java, Baekjoon

#249 [백준] 9498. 시험성적
  Baekjoon/구현/9498 시험성적/Sanghoo.java
Labels: Java, Baekjoon

#248 [백준] 10197. 10부제
  Baekjoon/구현/10797 10부제/Sanghoo.java
Labels: Java, Baekjoon

#233 [백준] 2309 일곱난쟁이
  Baekjoon/완전탐색(Brute Force)/2309 일곱난쟁이/HwangInGyu.java
Labels: Java, Baekjoon

#237 [백준] 9094. 수학적 호기심
  Baekjoon/완전탐색(Brute Force)/9094 수학적 호기심/HwangInGyu.java
  Baekjoon/완전탐색(Brute Force)/9094 수학적 호기심/HwangInGyu.kt
Labels: Java, Kotlin, Baekjoon

#238 [백준] 1145 적어도 대부분의 배수
  Baekjoon/완전탐색(Brute Force)/1145 적어도 대부분의 배수/HwangInGyu.java
  Baekjoon/완전탐색(Brute Force)/1145 적어도 대부분의 배수/HwangInGyu.kt
Labels: Java, Kotlin, Baekjoon

#239 [백준] 슈퍼마리오
  Baekjoon/완전탐색(Brute Force)/2851 슈퍼 마리오/HwangInGyu.java
Labels: Java, Baekjoon

#243 [백준] 10부제
  Baekjoon/완전탐색(Brute Force)/10797 10부제/HwangInGyu.kt
Labels: Kotlin, Baekjoon
